.menu_own ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu_own  li {
    float: left;
}

    .menu_own  li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .menu_own  li a:hover, .dropdowno:hover .dropbtno {
            background-color: black;
        }

    .menu_own  li.dropdowno {
        display: inline-block;
        background-color: #227824;
    }

.menu_own  .dropdowno-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .menu_own  .dropdowno-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .menu_own  .dropdowno-content a:hover {
            background-color: #f1f1f1
        }

.menu_own  .dropdowno:hover .dropdowno-content {
    display: block;
}



.text {
    margin-top: 20px;
    margin-left: 10px;
    position:fixed;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}


.floating-box {
    float: left;
    width: 300px;
    height: 200px;
    max-height: 200px;
    margin: 12px;
    border-left: 7px solid #333;
    border-right: 7px solid #333;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.floating-box:hover {
    border-color:#2707f7;
}
    .after-box {
    border: 3px solid red;
}

.floating-box .header {
    margin-bottom: 5px;
    height: 5px;
    /* border: 3px solid blue;*/
    height: 25px;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}
.floating-box .footer {
    position: absolute;
    top: 175px;
    border-top: 1px solid black;
    width: 288px;
}
