
.container-clanky {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
}

    .container-clanky .items {
        padding: 5px 10px 35px 5px;
        max-width: 25em;
        margin: 10px 5px 0 15px;
        /*   background-color:rgb(237, 230, 191);
        border-radius:5%;*/
    }


