
.container-clanky {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
}

    .container-clanky .items {
        padding: 5px 10px 35px 5px;
        max-width: 25em;
        margin: 10px 5px 0 15px;
        /*   background-color:rgb(237, 230, 191);
        border-radius:5%;*/
    }

div[id="background"] {
    background: url(http://www.hrebec.cz/data/headerfooter/header_images/slideshow1.jpg);
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer{
    margin:0;
    padding:0;
    position:relative;
    bottom:0;
    text-align:center;
}

    footer hr {
        display: block;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }

input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

label{ font-size:20px;}