@section main{
    <h1>Kontakty</h1>
    }

@section dropdown{
    
<li><a href="@Url.Action("Home", "Kontakty")">Upravit kontakty</a></li>
    }

<p>
 Oficiální název: 	Obec Hřebeč
 Starostka: 	Petra Piskáčková
 Místostarosta: 	František Svoboda



Adresa úřadu: 	Adresa k fakturaci:
Obecní úřad Hřebeč 	Obec Hřebeč
nám. Draha 75 	nám. Draha 75
273 45 Hřebeč 	273 45 Hřebeč

Kontakty: 	IČO: 002 34 427
Tel.: 312 253 375, 312 253 906 	DIČ: CZ00234427
Mobil: 607 474 364 	Od 1.10.2016 se obec stala plátcem DPH.

ID datové schránky: kcnb6i2 	Peněžní ústav:
e-mail: obec@hrebec.cz 	Komerční banka, a.s., pobočka Kladno
www: www.hrebec.cz 	Číslo účtu:  4826141/0100

Úřední hodiny:
pondělí:   8.00 - 12.00 hod. 	13.00 - 17.00 hod.
úterý:      ----- 	-----
středa:    8.00 - 12.00 hod. 	13.00 - 18.00 hod.
čtvrtek:   8.00 - 12.00 hod. 	-----
pátek:     ----- 	-----


JAK SE K NÁM DOSTANETE.....

GPS:

Loc: 50°8'9.014"N, 14°9'52.431"E

    </p>