@using data.Model
@model Stranka


@section main{
   Úprava kontaktů
    }

@using (Html.BeginForm("Kontakty_edit_save", "Home", FormMethod.Post))
{

    <div class="form-group">
        @Html.TextAreaFor(x => x.text, new { @class = "form-control formated-text", id= "page-edit" })
    </div>

    <button type="submit" class="btn btn-default btn-lg">Uložit</button>

    
}


