
@using data.Model;
@model Stranka

@section main{
    <h1>Kontakty</h1>
    }

@section dropdown{
    
<li><a href="@Url.Action("Kontakty_edit", "Home")">Upravit kontakty</a></li>
    }

<p>
   @Html.Raw(Model.text)
</p>