
@using data.Model;
@model Stranka

@section main{
    <h1>@Model.title</h1>
}

@section adminMenu{
    <a href="#" class="list-group-item active">@Model.title</a>
    @Html.ActionLink("Upravit stránku", "Page_Edit", "StaticPages", new { name = Model.title }, new { @class = "list-group-item" })


}
<script>
    $(document).ready(function () {
        $("table").wrap("<div class='table-responsive'></div>");
        $("table").addClass("table");
    });
</script>
<p>
    @Html.Raw(Model.text)
</p>







